* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.body-index {
    // font-family: 'Rubik Dirt', cursive;
    // font-family: 'Rubik Maze', cursive;
    // font-family: 'Silkscreen', cursive;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(55,4,134,1) 46%, rgba(0,134,255,1) 100%);

}

.fechaHora {
    position: absolute;
    top: 1.4%;
    left: 7%;
    font-family: 'Rubik Maze', cursive;
    color: white;
    margin-top: 20px;
    background-color: rgba(255, 253, 254, 0.12);
    padding: 15px;
    border-radius: 13px;
    font-size: 170%;
    
}

.vestimenta {
    position: absolute;
    bottom: 54%;
    left: 10%;
    font-family: 'Silkscreen', cursive;
    color: white;
    background-color: rgba(255, 253, 254, 0.12);
    padding: 10px;
    transform: rotate(-23deg);
    transition: all 0.3s;
    border-radius: 15px;
    font-size: 77%;

    &:hover {
        color: darkblue;
        background-color: white;
    }
}

.botonDonde {
    position: absolute;
    bottom: 20%;
    left: 35%;
    & button {
        transition: 0.5s;
     }
    & button:active {
        transform: scale(0.9);
    }
    & span {
        font-family: "Comic Sans MS", cursive, sans-serif;
        font-size: 15px;
        letter-spacing: -0.2px;
        word-spacing: 0.4px;
        color: #000000;
        font-weight: 700;
        text-decoration: none;
        font-style: italic;
        font-variant: normal;
        text-transform: capitalize;
        padding: 5px;
        cursor: pointer;
    }
    & a {
        text-decoration: none;
    }

    & strong {
        margin-left: 10px;
        color: yellow;
    }
}
    

.parrafoCanciones {
    position: absolute;
    right: 10%;
    top: 20%;
    font-family: 'Silkscreen', cursive;
    transform: rotate(12deg);
}

.bebida {
    position: absolute;
    top: 50%;
    right: 9.5%;
    font-family: 'Shadows Into Light', cursive;
    font-size: 140%;
    font-weight: bold;
    letter-spacing: 7%;
    background-color: rgba(0, 7, 2, 0.87);
    padding: 10px;
    border-radius: 15px;
    color: wheat;
    transform: rotate(2deg);
}

.imagenRandom1 {
    position: absolute;
    top: 20%;
    left: 42%;
    & img {
        max-height: 19rem;
    }
}

.imagenRandom2 {
    grid-area: imagen2;
}

.imagenRandom3 {
    grid-area: imagen3;
}

.imagenRandom4 {
    grid-area: imagen4;
}

// PAGINA UBICACION

.body-ubicacion {
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.solucion {
    width: 30%;
    position: relative;
    top: 3rem;
    left: 3rem;
    font-family: 'Rubik Dirt', cursive;
}

.botones {
   position: absolute;
   top: 25%;
   left: 33%;
   & button {
    margin: 0 20px;
    padding: 2px;
    font-family: 'Silkscreen', cursive;
        &-auto {
            & span{
                text-decoration: none; // NO TOMA EL TEXT DECORATION
            }
        }
   }
}

.contenedor-imagen {
    & img {
        max-width: 13%;
        position: relative;
        left: 5%;
        margin-top: 2px;
        margin-bottom: 15px;
    }
}

.contenedor-otra-imagen {
    & img {
        max-width: 13%;
        position: relative;
        left: 5%;
        margin-top: 2px;
        margin-bottom: 15px;
    }
}

.advertencia {
    position: absolute;
    bottom: 50%;
    left: 50%;
}

.imagenRandom2 {
    position: absolute;
    top: 50%;
    left: 50px;
    & img {
        // max-height: 20%;
        max-width: 40%;
    }
}

.imagenRandom3 {
   position: absolute;
   right: 0;
    & img {
        // max-height: 50%;
        max-width: 37%;
    }
}

// SECCION VOY EN AUTO

.auto {
    background-color: #c7d1da;
    display: flex;
    flex-flow: row nowrap;
    justify-items: center;
    &-mapa {
        margin: auto;
        & img {
            width: 33%;
        }
    }

    &-pasos {
        padding: 10px;
    }
}